/* background-color: hsl(212, 45%, 89%);  - Slate 300: 
  text-preset-1: hsl(218, 44%, 22%)  - Slate 900: 
  text-preset-2: hsl(216, 15%, 48%)  - Slate 500: 
   hsl(0, 0%, 100%)  -White color -   */

/* Media Query's Width's- Mobile: 375px
- Desktop: 1440px */

/* spacing 500 40px 300 24px 200 16px */

/* Typography 
TextPreset1 Outfit Bold 22px 120 Line Height 0px Letter spacing
TextPreset2 Outfit Regular 15px 140 Line Height 0.2px Letter spacing 
*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}
.card {
  border-radius: 16px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  text-align: center;
}
.card img {
  border-radius: 10px;
  width: 100%;
}

.text h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  padding-top: 24px;
}

.text p {
  padding-top: 16px;
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  align-items: center;
  padding-bottom: 40px;
}

.attribution {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
