/* background-color: hsl(212, 45%, 89%);  - Slate 300: 
  text-preset-1: hsl(218, 44%, 22%)  - Slate 900: 
  text-preset-2: hsl(216, 15%, 48%)  - Slate 500: 
   hsl(0, 0%, 100%)  -White color -   */

/* Media Query's Width's- Mobile: 375px
- Desktop: 1440px */

/* spacing 500 40px 300 24px 200 16px */

/* Typography 
TextPreset1 Outfit Bold 22px 120 Line Height 0px Letter spacing
TextPreset2 Outfit Regular 15px 140 Line Height 0.2px Letter spacing 
*/
@media screen and (width > 915px) and (orientation: landscape) {
  .attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    text-align: center;
    margin-bottom: 1em;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
}
main .container {
  flex: 1;
}
.card {
  border-radius: 1.25rem;
  width: 21.333333333rem;
  min-height: 33.3333333333;
  padding: 1.0666666667rem 1.0666666667rem 0 1.0666666667rem;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(0, 0, 0, 0.05);
  flex-direction: column;
  display: flex;
  margin: 0;
}
.card img {
  border-radius: 0.625rem;
  width: 19.2rem;
  height: 19.2rem;
  align-items: center;
}

.text {
  width: 19.2rem;
  padding: 1.6rem 1.0666666667rem 2.6666666667rem 1.0666666667rem;
  text-align: center;
}

.text h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.4666666667rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

.text p {
  margin: 1.0666666667rem 0 0 0;
  color: hsl(216, 15%, 48%);
  font-size: 1rem;
  font-weight: 400;
  flex-direction: column;
  line-height: 1.25;
  letter-spacing: 0.01125rem;
}
.attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  font-size: 11px;
  /* text-align: center; */
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
