:root {
  --background-color: hsl(212, 45%, 89%); /* - Slate 300: -*/
  --text-preset-1: hsl(218, 44%, 22%) /* - Slate 900: -*/
  --text-preset-2: hsl(216, 15%, 48%) /* - Slate 500: -*/
  --white-color: hsl(0, 0%, 100%) /* -White color - */ 
}
/* Media Query's Width's- Mobile: 375px
- Desktop: 1440px */

/* spacing 500 40px 300 24px 200 16px */

/* Typography 
TextPreset1 Outfit Bold 22px 120 Line Height 0px Letter spacing
TextPreset2 Outfit Regular 15px 140 Line Heigh 0.2px Letter spacing 
*/

body {
  background-color: var(--background-color);
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


